{% extends "admin_base.html" %}
{% load static %}
{% block title %} 
Edit Category
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static "assets/css/add.css" %}">
{% endblock %}
{% block page_name %} 
Edit Category
{% endblock %}
{% block content %} 
<div class='row' >
  <div class="col-md-5 grid-margin add-stretch-card">
    <form  action="edit_category_page{{category.id}}" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="add_card" style='width:500px ;'>
        <div class="card-body" >
            <label for="Category_name">Category name: </label>
            <input class="inputbox" style='width:500px;' type="text" align="center" name="category_name" id="category_name" value="{{category.name}}">
        </div>
      </div>
      <div class="add_card" style='width:600px ; '>
        <div class="card-body">
          <label for="Category_name">Description: </label>
          <input class="inputbox" style='width:600px ;' type="text" align="center" name="category_description" id="category_description" value="{{category.category_description}}" >
        </div>
      </div>

       <div class="add_card" style="width: 300px;">
        <div class="card-body">
          <p class="placehold">Image 1</p>
          <div class="image-container">
            {% if category.category_image %}
            <img class="uploaded-image" src="{{ category.category_image.url }}" alt="Image 1">
            {% endif %}
            <input class="inputbox" type="file" name="image1" id="image1">
          </div>
        </div>
      </div>
      
      <button class="submit"type="submit"  align="center">Submit</button>
    </form>
  </div>
</div>
{% if messages %}
      <ul class="messages">
        {% for messages in messages %}
        <h3 style="color: red;margin-left: 50px;">{{messages}}</h3>
        {% endfor %}
      </ul>
      {% endif %}
{% endblock %}

          
          